/* Color Palette */
/* https://colorhunt.co/palette/222831393e460092caeeeeee */



body {
    background-color: #1b2027 !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: 52% 80%;
}

p {
    color: #0092CA;
    /* padding-top: 0%;
    padding-bottom: 0%;
    margin-top: -50px;
    margin-bottom: -50px; */
}

h4 {
    color: #0092CA;
}

/* body{
    background-color: rgb(79, 79, 79) !important;
    background-image: url(/static/images/new_logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: 52% 80% ;
} */

.myinput {
    background-color: #2d3136 !important;
    /* max-width: 500px; */
    border-color: transparent !important; 
    border-radius: 5px !important;
    accent-color: #393E46 !important;

}

.myinput:focus {
    border-bottom-color: blue !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    outline-color: transparent !important;
}
.myinput:hover{
    border-color: #0092CA !important;
}

.hovered:hover{
    text-decoration: underline !important;
    color: #0092CA !important;
}



#trans {
    background-color: transparent !important;
}


#center {
    text-align: center;
}
.left-a{
    text-align: left !important;
}

ul {
    padding-left: 10px;
}

#bold {
    font-weight: bold !important;
}

.center {
    text-align: center;
}

.mission {
    font-weight: bold;
    color: 0092CA;

}

#blue_back {
    background-color: blue;
}

.white {
    color: #0092CA !important;
}


.center {
    text-align: center;
}



.clear {
    opacity: 0.75;
}

.seen {
    opacity: 1
}

.orange {
    color: orange !important
}

.title1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.title2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.big {
    font-size: large;
}