<!doctype html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css" type="text/css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">






</head>


<body>



  <nav id=nav class="navbar navbar navbar-expand-lg navbar-dark trans navbar-nav" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand white" href="#">Welcome</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text white">
          TodayIS
        </span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active white" aria-current="page" href="login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="signUp.html">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="admin.html">Admin Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="user.html">User Profile</a>
          </li>
          <li class="nav-item">
            <button
              onclick="setCookie('clientClasses','', '10'); setCookie('clientHls','', '10'); setCookie('clientLunch','', '10'); setCookie('clientName','', '10'); setCookie('clientisHS','', '10'); setCookie('loggedIn','false', '10'); ">
              Sign Out </button>

          </li>
        </ul>

      </div>
    </div>
  </nav>

  <p id="output"></p>


  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-12 white">
        <!-- This is the Selection Box for the Date -->
        <form>
          <label for="useDate">Schedule for Week Of: </label>
          <input class="white myinput left-a" aria-hidden="true" type="date" id="stringUseDate" name="stringUseDate"
            size="500" oninput="setUseDate()" />
          <button class="white myinput" onclick="setUseDate()"> See Schedule</button>
        </form>

      </div>
    </div>
  </div>


  <div class="container text-center">
    <!-- Date Info Row (Block Day + Date) -->
    <div class="row white align-text-center">
      <div class="col border">
        <p id="mondayDate"></p>
        <p id="mondayBlockDate"></p>
      </div>
      <div class="col border">
        <p id="tuesdayDate"></p>
        <p id="tuesdayBlockDate"></p>
      </div>
      <div class="col border">
        <p id="wednesdayDate"></p>
        <p id="wednesdayBlockDate"></p>
      </div>
      <div class="col border">
        <p id="thursdayDate"></p>
        <p id="thursdayBlockDate"></p>
      </div>
      <div class="col border">
        <p id="fridayDate"></p>
        <p id="fridayBlockDate"></p>
      </div>
    </div>

    <!-- HL Morning Extension Row  -->
    <div class="row white">
      <div class="col border">
        <p id=monMonrningHL></p>
        <p id=monMonrningHLTime></p>

      </div>
      <div class="col border">
        <p id=tueMonrningHL></p>
        <p id=tueMonrningHLTime></p>

      </div>
      <div class="col border">
        <p id=wedMonrningHL></p>
        <p id=wedMonrningHLTime></p>
      </div>
      <div class="col border">
        <p id=thurMonrningHL></p>
        <p id=thurMonrningHLTime></p>

      </div>
      <div class="col border">
        <p id=friMonrningHL></p>
        <p id=friMonrningHLTime></p>
      </div>
    </div>

    <!-- 1st Period Row -->
    <div class="row white">
      <div class="col border">
        <p id="mon1stClass"></p>
        <p id="mon1stTime"></p>
      </div>
      <div class="col border">
        <p id="tue1stClass"></p>
        <p id="tue1stTime"></p>
        </p>
      </div>
      <div class="col border">
        <p id="wed1stClass"></p>
        <p id="wed1stTime"></p>
      </div>
      <div class="col border">
        <p id="thur1stClass"></p>
        <p id="thur1stTime"></p>
      </div>
      <div class="col border">
        <p id="fri1stClass"></p>
        <p id="fri1stTime"></p>
      </div>
    </div>

    <!--  Advisory/Homeroom Row -->
    <div class="row white">
      <div class="col border">
        Advisory
        <p>9:55-10:25</p>
      </div>
      <div class="col border">
        Homeroom
        <p>9:55-10:05</p>
      </div>
      <div class="col border">
        Advisory
        <p>9:55-10:25</p>
      </div>
      <div class="col border">
        Advisory
        <p>9:55-10:25</p>
      </div>
      <div class="col border">
        Homeroom
        <p>9:55-10:05</p>
      </div>
    </div>

    <!--  2nd Preiod Row -->
    <div class="row white">
      <div class="col border">
        <p id="mon2ndClass"></p>
        <p id="mon2ndTime"></p>
      </div>
      <div class="col border">
        <p id="tue2ndClass"></p>
        <p id="tue2ndTime"></p>
      </div>
      <div class="col border">
        <p id="wed2ndClass"></p>
        <p id="wed2ndTime"></p>
      </div>
      <div class="col border">
        <p id="thur2ndClass"></p>
        <p id="thur2ndTime"></p>
      </div>
      <div class="col border">
        <p id="fri2ndClass"></p>
        <p id="fri2ndTime"></p>
      </div>
    </div>

    <!--  3rd Preiod A lunch Row -->
    <div class="row white">
      <div class="col border border-bottom-0">
        <p id="monTop3rdClass"></p>
        <p id="monTop3rdClassTime"></p>
        <hr>
        <p id="monMiddle3rdClass"></p>
        <p id="monMiddle3rdClassTime"></p>
        <hr>
        <p id="monBottom3rdClass"></p>
        <p id="monBottom3rdClassTime"></p>
      </div>
      <div class="col border border-bottom-0">
        <p id="tueTop3rdClass"></p>
        <p id="tueTop3rdClassTime"></p>
        <hr>
        <p id="tueMiddle3rdClass"></p>
        <p id="tueMiddle3rdClassTime"></p>
        <hr>
        <p id="tueBottom3rdClass"></p>
        <p id="tueBottom3rdClassTime"></p>
      </div>
      <div class="col border border-bottom-0">
        <p id="wedTop3rdClass"></p>
        <p id="wedTop3rdClassTime"></p>
        <hr>
        <p id="wedMiddle3rdClass"></p>
        <p id="wedMiddle3rdClassTime"></p>
        <hr>
        <p id="wedBottom3rdClass"></p>
        <p id="wedBottom3rdClassTime"></p>
      </div>
      <div class="col border border-bottom-0">
        <p id="thurTop3rdClass"></p>
        <p id="thurTop3rdClassTime"></p>
        <hr>
        <p id="thurMiddle3rdClass"></p>
        <p id="thurMiddle3rdClassTime"></p>
        <hr>
        <p id="thurBottom3rdClass"></p>
        <p id="thurBottom3rdClassTime"></p>
      </div>
      <div class="col border border-bottom-0">
        <p id="friTop3rdClass"></p>
        <p id="friTop3rdClassTime"></p>
        <hr>
        <p id="friMiddle3rdClass"></p>
        <p id="friMiddle3rdClassTime"></p>
        <hr>
        <p id="friBottom3rdClass"></p>
        <p id="friBottom3rdClassTime"></p>
      </div>
    </div>


    <!--  4th Period Row -->
    <div class="row white">
      <div class="col border">
        <p id="mon4thClass"></p>
        <p id="mon4thTime"></p>
      </div>
      <div class="col border">
        <p id="tue4thClass"></p>
        <p id="tue4thTime"></p>
      </div>
      <div class="col border">
        <p id="wed4thClass"></p>
        <p id="wed4thTime"></p>
      </div>
      <div class="col border">
        <p id="thur4thClass"></p>
        <p id="thur4thTime"></p>
      </div>
      <div class="col border">
        <p id="fri4thClass"></p>
        <p id="fri4thTime"></p>
      </div>
    </div>

    <!--  Afternoon Extension Row -->
    <div class="row white">
      <div class="col border">
        <p id=monAfternoonHL></p>
        <p id=monAfternoonHLTime></p>
      </div>
      <div class="col border">
        <p id=tueAfternoonHL></p>
        <p id=tueAfternoonHLTime></p>
      </div>
      <div class="col border">
        <p id=wedAfternoonHL></p>
        <p id=wedAfternoonHLTime></p>
      </div>
      <div class="col border">
        <p id=thurAfternoonHL></p>
        <p id=thurAfternoonHLTime></p>
      </div>
      <div class="col border">
        <p id=friAfternoonHL></p>
        <p id=friAfternoonHLTime></p>
      </div>
    </div>

  </div>







  <script src="/script.js" type="text/javascript">  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>