<!doctype html>
<html lang="en">

<head>
    <title>Signup</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


    <nav id=nav class="navbar navbar navbar-expand-lg navbar-dark trans navbar-nav" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand white" href="#">Navbar w/ text</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text white">
                    Navbar text with an inline element
                </span>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active white hovered" aria-current="page" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white hovered" href="/">Home</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container text-center">
        <div class="row">
            <!-- <div class="col">
                Left
            </div> -->
            <div class="col-12">
                <form class="container" method="post" action="/signUp.html">
                    <div class="form-group">
                        <p>Username: </p>
                        <input class="form-control myinput white" name="username">
                    </div>
                    <div class="form-group">
                        <p>Password: </p>
                        <input class="form-control myinput white" name="password">
                    </div>
                    <div class="form-group">
                        <p>Confirm Password: </p>
                        <input class="form-control myinput white" name="cpassword">
                    </div>
                    <div class="form-group">
                        <p>First Name: </p>
                        <input class="form-control myinput white" name="fname">
                    </div>
                    <div class="form-group">
                        <p>Last Name: </p>
                        <input class="form-control myinput white" name="lname">
                    </div>
                    <div>
                        <label for="isHS" class="white">Are you in High School or Middle School?</label>
                        <select class="form-select form-select-sm myinput white" aria-label="Small select example"
                            name="isHS">
                            <option selected value=1> High School</option>
                            <option value="2">Middle School</option>
                        </select>
                    </div>


                    <br>

                    <div class="container text-center">
                        <div class="row">
                            <div class="col-6 border-right border-dark">
                                <div>
                                    <h4>
                                        First Class:
                                    </h4>
                                </div>
                                <div class="form-group white">
                                    <p>What is your first class? </p>
                                    <input class="form-control myinput white" name="class1" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl1" name="hl1" value="HL" class="myinput white checkbox-color">
                                    <label for="hl1" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch1" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch1">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                              

                                <br>

                                <div>
                                    <h4>
                                        Second Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your second class? </p>
                                    <input class="form-control myinput white" name="class2" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl2" name="hl2" value="HL">
                                    <label for="hl2" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch2" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch2">
                                        <option selected value=1> A Lunch</option>
                                        <option value="2">B Lunch</option>
                                        <option value="3">C Lunch</option>
                                    </select>
                                </div>
                                

                                <br>

                                <div>
                                    <h4>
                                        Third Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your third class? </p>
                                    <input class="form-control myinput white" name="class3" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl3" name="hl3" value="HL">
                                    <label for="hl3" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch3" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch3">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                                
                                <br>

                                <div>
                                    <h4>
                                        Fourth Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your fourth class? </p>
                                    <input class="form-control myinput white" name="class4" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl4" name="hl4" value="HL">
                                    <label for="hl4" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch4" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch4">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <div class="col-6">
                                <div>
                                    <h4>
                                        Fifth Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your fifth class? </p>
                                    <input class="form-control myinput white" name="class5" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl5" name="hl5" value="HL">
                                    <label for="hl5" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch5" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch5">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                                <br>

                                <div>
                                    <h4>
                                        Sixth Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your sixth class? </p>
                                    <input class="form-control myinput white" name="class6" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl6" name="hl6" value="HL">
                                    <label for="hl6" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch6" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch6">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                                <br>


                                <div>
                                    <h4>
                                        Seventh Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your seventh class? </p>
                                    <input class="form-control myinput white" name="class7" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl7" name="hl7" value="HL">
                                    <label for="hl7" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch7" class="white">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="lunch7">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                                <br>


                                <div>
                                    <h4>
                                        Eighth Class:
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <p>What is your eighth class? </p>
                                    <input class="form-control myinput white" name="class8" size="5">
                                </div>
                                <div>
                                    <input type="checkbox" id="hl8" name="hl8" value="HL">
                                    <label for="hl8" class="white">Do you have HL extensions for this class?</label>
                                </div>
                                <div>
                                    <label for="lunch8" class="white left-a">What lunch do you have during this class:</label>
                                    <select class="form-select form-select-sm left-a" aria-label="Small select example"
                                        name="lunch8">
                                        <option selected value=1> A lunch</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>

                    <button class="myinput white btn-lg"> SignUp</button>
                </form>
                <br>
                <br>
            </div>
            <!-- <div class="col">
                Right
            </div> -->
        </div>
    </div>


    <!-- <script src="app.js"></script> -->

    <!-- <label for="userInput" class="white">Enter Username:</label>
    <input type="text" id="userName" size="10">
    <br>
    
    <label for="userInput" class="white">Firstname:</label>
    <input type="text" id="fname" size="10">
    <br>

    <label for="userInput" class="white">Lastname:</label>
    <input type="text" id="lname" size="10">
    <br>

    <label for="userInput" class="white">Password:</label>
    <input type="text" id="password" size="10">
    <br>

    <label for="userInput" class="white">Confirm Password:</label>
    <input type="text" id="Cpassword" size="10">
    <br>

    <label for="userInput" class="white">What is your A block Class?</label>
    <input type="text" id="blockA" size="10">
    <br>
    <input type="checkbox" id="Ahl" name="Ahl" value="HL">
    <label for="Ahl" class="white">Do you have HL extensions for this class?</label>
    <label for="Alunch" class="white">When you have this class third period what lunch do you have?</label>
    <select name="Alunch" id="Alunch">
       <option value="A">A Lunch</option>
       <option value="B">B Lunch</option>
       <option value="C">C Lunch</option> 
    </select>
    <br> -->


    <!-- <button onclick="logUserInput()">Log Input</button> -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>